{% extends "profit_calculator/base/no_nav_base.html" %}

{% block title %}Flight plans{% endblock %}
{% block header %}Manage flight plans{% endblock %}

{% block content %}
<table class="table table-striped table-hover" id="flightplan-table">
    <thead>
        <tr>
            <th class="w-75" scope="col">Save name</th>
            <th class="w-25"scope="col">Created</th>
        </tr>
    </thead>
    {% if content_list %}
        <tbody>
            {% for flightplan in content_list %}
            <tr>
                <td>{{ flightplan.name }}</td>
                <td>{{ flightplan.created }}</td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <tr data-no-items="true">
            <td colspan="2" class="text-muted fw-light text-center fst-italic">No flightplans exist</td>
        </tr>
    {% endif %}
</table>
<button class="btn btn-dark" id="create-button" data-bs-toggle="modal" data-bs-target="#create-modal">Create</button>
<button class="btn btn-danger float-end ms-1" id="delete-button" data-bs-toggle="modal" data-bs-target="#delete-modal"> <!--disabled-->Delete</button>
<button class="btn btn-dark float-end" id="edit-button" data-bs-toggle="modal" data-bs-target="#edit-modal"> <!--disabled-->Edit</button>

<div class="modal" tabindex="-1" id="create-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create flight plan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="modal-body">
                    {{ create_form }}
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-dark" value="Create">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="edit-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit flight plan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="modal-body">
                    {{ edit_form }}
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-dark" value="Update">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="delete-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete flight plan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                This will irreversibly delete the selected flight plan. Are you sure?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" value="Continue" id="confirm-delete">Continue</button>
                <button class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', (e) => {
        let table = document.querySelector('#flightplan-table');
        let tableRows = document.querySelectorAll('#flightplan-table tbody tr');
        let createButton = document.querySelector('#create-button');
        let editButton = document.querySelector('#edit-button');
        let deleteButton = document.querySelector('#delete-button');
        let confirmDelete = document.querySelector('#confirm-delete');
        let modal = document.querySelector('#modal');

        confirmDelete.addEventListener('click', (e) => {
            console.log('deleted');
            // fetch('');
        });
        // FIXME
        Array.from(tableRows).foreach((elem) => {
            if ((elem.dataset.noItems == "true")){
                elem.addEventListener('click', (e) => {
                    console.log("click detected");
                    elem.addClass('selected');
                    elem.parentNode.childNodes.foreach((elem) => elem.removeClass('selected'));
                });
            }
        });
    });
</script>
{% endblock %}