{% extends "profit_calculator/base/no_nav_base.html" %}

{% block title %}Flight plans{% endblock %}
{% block header %}Manage flight plans{% endblock %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <table class="table table-hover" id="flightplan-table">
        <thead>
            <tr>
                <th style="width: 65%" scope="col">Save name</th>
                <th style="width: 30%" scope="col">Created</th>
                <th style="width: 5%" scope="col">Complete</th>
            </tr>
        </thead>
        <tbody>
        {% if object_list %}
                {% for flightplan in object_list %}
                <tr data-id="{{ flightplan.pk }}">
                    <td>{{ flightplan.save_name }}</td>
                    <td>{{ flightplan.created }}</td>
                    {% if flightplan.complete %}
                        <td class="text-center p-1"><img src="{% static 'profit_calculator/img/tick.svg' %}" width="30" height="30" alt="Complete"></td>
                    {% else %}
                        <td class="text-center p-1"><img src="{% static 'profit_calculator/img/cross.svg' %}" width="30" height="30" alt="Not complete"></td>
                    {% endif %}
                </tr>
                {% endfor %}
        {% else %}
            <tr data-no-items="true">
                <td colspan="3" class="text-muted fw-light text-center fst-italic">No flightplans exist</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <button class="btn btn-dark" id="create-button" data-bs-toggle="modal" data-bs-target="#create-modal">Create</button>
    <button class="btn btn-danger float-end ms-1" id="delete-button" data-bs-toggle="modal" data-bs-target="#delete-modal" disabled>Delete</button>
    <button class="btn btn-dark float-end ms-1" id="edit-button" data-bs-toggle="modal" data-bs-target="#edit-modal" disabled>Edit</button>
    <button class="btn btn-dark float-end" id="select-button" disabled>Select</button>

    <div class="alert mt-3 invisible" id="error-message" role="alert"></div>

    <div class="modal" tabindex="-1" id="create-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create flight plan</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{% url 'profit_calculator:create_flightplan' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        {{ create_form|crispy }}
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-dark" value="Create">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="edit-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit flight plan</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{% url 'profit_calculator:update_flightplan' %}">
                    {% csrf_token %}
                    <input type="hidden" name="selected-fp">
                    <div class="modal-body">
                        {{ edit_form|crispy }}
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-dark" value="Update">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="delete-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete flight plan</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{% url 'profit_calculator:delete_flightplan' %}">
                    {% csrf_token %}
                    <input type="hidden" name="selected-fp">
                    <div class="modal-body">
                        This will irreversibly delete the selected flight plan. Are you sure?
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-danger" value="Continue" id="confirm-delete">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{ flightplan_names|json_script:"flightplan-names" }}
    <script>
        document.addEventListener('DOMContentLoaded', (e) => {
            let table = document.querySelector('#flightplan-table');
            let tableRows = document.querySelectorAll('#flightplan-table tbody tr');

            let createButton = document.querySelector('#create-button');

            let selectButton = document.querySelector('#select-button');
            let editButton = document.querySelector('#edit-button');
            let deleteButton = document.querySelector('#delete-button');
            let rowButtons = [selectButton, editButton, deleteButton];

            let errorMessage = document.querySelector('#error-message');

            let selectedFpFields = document.querySelectorAll('input[name="selected-fp"]');
            let editNameField = document.querySelector('#id_form-1-save_name');

            const flightplanNames = JSON.parse(document.querySelector('#flightplan-names').textContent);

            let selected;


            const csrftoken = Cookies.get('csrftoken');

            function showMessage (msgText, msgType) {
                errorMessage.textContent = msgText;
                errorMessage.classList = `alert alert-${msgType} mt-3`;
            }

            async function setFlightPlanCookie() {
                let data = new FormData();
                data.append("selected-fp", selected);
                await fetch('{% url 'profit_calculator:flightplans' %}', {
                    method: 'POST',
                    body: data,
                    headers: {
                        'X-CSRFToken': csrftoken
                    }
                })
                    .then(rawresponse => rawresponse.json())
                    .then(data => {
                        if (data.success){
                            window.location.href = "{% url 'profit_calculator:index' %}";
                        } else {
                            showMessage('Something went wrong. Please try again.', 'danger');
                        }
                    });
            }

            selectButton.addEventListener('click', (e) => {
                setFlightPlanCookie();
            });

            tableRows.forEach((elem) => {
                if (!(elem.dataset.noItems == 'true')){
                    elem.addEventListener('click', (e) => {
                        elem.parentNode.childNodes.forEach((sibElem) => {
                            if (sibElem.tagName == 'TR'){
                                sibElem.classList.remove('table-active');
                            }
                        });
                        elem.classList.add('table-active');
                        selected = parseInt(elem.dataset.id);
                        editNameField.value = flightplanNames[selected];
                        selectedFpFields.forEach((field) => field.value = selected);
                        rowButtons.forEach((button) => button.disabled = false);
                    });
                }
            });
        });
    </script>
{% endblock %}