{% extends 'profit_calculator/base/base.html' %}

{% block body %}
    {% include 'profit_calculator/base/navbar.html' %}
    <section class="content">
        {% block navbar %}{% endblock %}
        <main class="container p-3">
            {% for message in messages %}
                {% if message.extra_tags == "top" %}
                    <div class="alert {{ message.level_tag }}" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}

            {% block content %}{% endblock %}

            {% for message in messages %}
                {% if message.extra_tags != "top" %}
                    <div class="mt-2 alert {{ message.level_tag }}" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}
        </main>
    </section>
{% endblock %}