{% extends 'profit_calculator/auth/auth_base.html' %}

{% block title %}{% block header %}Log in{% endblock %}{% endblock %}

{% block head %}
    {{ block.super }}
    <style>
        .form-signin input[type="text"] {
          margin-bottom: -1px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
          margin-bottom: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <form class="mb-2" method="post">
        {% csrf_token %}
        <div class="form-floating">
            <input type="text" class="form-control" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username" placeholder="Username">
            <label for="id_username">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" autocomplete="current-password" required id="id_password" placeholder="Password">
            <label for="id_password">Password</label>
        </div>
        {% for message in messages %}
            <div class="mt-2 mb-1 alert {{ message.level_tag }}" role="alert">{{ message }}</div>
        {% endfor %}
        <button class="mt-2 w-100 btn btn-lg btn-primary" type="submit">Log in</button>
    </form>
    <p class="text-muted fw-light text-center">Don't have an account? <a href="{% url 'profit_calculator:signup' %}" tabindex="0">Sign up here.</a></p>
{% endblock %}