{% extends "profit_calculator/base/standard_base.html" %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% block form %}{% endblock %}
        <input class="btn btn-dark my-2" type="submit" />
        <a class="btn btn-dark my-2" href="{% url 'profit_calculator:index' %}">Cancel</a>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            pageDataTable = document.querySelector('#page-data-table');
            if (!!pageDataTable) {
                pageDataTable.addEventListener('show.bs.collapse', () => {
                    document.querySelector('#page-data-text').remove();
                });
            }
        });
    </script>
{% endblock %}