{% extends "profit_calculator/forms/base_form.html" %}

{% block title %}Pricing details{% endblock %}
{% block header %}Enter pricing details{% endblock %}

{% block form %}
    <div class="form-group my-3">
        <label class="mb-1" for="standard-class-price">Price of a standard class seat</label>
        <div class="input-group">
            <div class="input-group-text">£</div>
            <input type="number" step="0.01" min="0" class="form-control" id="standard-class-price"
                   name="standard_class_price" required autofocus {% if disable %}disabled{% endif %}/>
        </div>
    </div>
    <div class="form-group my-3">
        <label class="mb-1" for="first-class-price">Price of a first class seat</label>
        <div class="input-group">
            <div class="input-group-text">£</div>
            <input type="number" step="0.01" min="0" class="form-control" id="first-class-price" name="first_class_price"
                   required {% if disable %}disabled{% endif %}/>
        </div>
    </div>
{% endblock %}