{% extends "profit_calculator/base.html" %}

{% block title %}{% block header %}Home{% endblock %}{% endblock %}

{% block content %}
    <div class="px-2 py-3 d-flex flex-column">
        <a href="{% url 'profit_calculator:airport_details' %}" class="btn btn-dark m-2">Enter airport details</a>
        <a href="{% url 'profit_calculator:aircraft_details' %}" class="btn btn-dark m-2">Enter aircraft details</a>
        <a href="{% url 'profit_calculator:pricing_details' %}" class="btn btn-dark m-2">Enter pricing details</a>
        <hr class="m-2">
        {% if complete %}
            <a href="{% url 'profit_calculator:profit_information' %}" class="btn btn-dark m-2">Profit information</a>
            <hr class="m-2">
        {% endif %}
        <!--<a href="" class="btn btn-dark m-2">Import/export data</a>-->
        <a href="{% url 'profit_calculator:clear_data' %}" class="btn btn-dark m-2">Clear data</a>
    <div>
{% endblock %}